# Binary Classification

In [1]:
import pandas as pd
y_true = [1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0]
y_pred = [0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0]

d = {'y_true': y_true, 'y_pred': y_pred}
data_and_pred = pd.DataFrame(data = d)
data_and_pred

    y_true  y_pred
0        1       0
1        1       1
2        0       0
3        1       1
4        1       0
5        0       0
6        1       1
7        1       0
8        0       0
9        0       1
10       0       0

In [2]:
from sklearn.metrics import accuracy_score
accuracy_score(y_true,y_pred)

0.6363636363636364

In [3]:
from sklearn.metrics import classification_report
# See classification Report
print(classification_report(y_true,y_pred))

              precision    recall  f1-score   support

           0       0.57      0.80      0.67         5
           1       0.75      0.50      0.60         6

    accuracy                           0.64        11
   macro avg       0.66      0.65      0.63        11
weighted avg       0.67      0.64      0.63        11

# Multi Class Classification

In [4]:
y_true = ['cat', 'dog', 'mouse', 'cat', 'cat', 'mouse', 'mouse', 'dog', 'dog']
y_pred = ['cat', 'cat', 'mouse', 'cat', 'cat', 'cat', 'mouse', 'dog', 'mouse']

d = {'y_true': y_true, 'y_pred': y_pred}
animals = pd.DataFrame(data = d)
animals

  y_true y_pred
0    cat    cat
1    dog    cat
2  mouse  mouse
3    cat    cat
4    cat    cat
5  mouse    cat
6  mouse  mouse
7    dog    dog
8    dog  mouse

In [5]:
from sklearn.metrics import accuracy_score
accuracy_score(y_true,y_pred)

0.6666666666666666

In [6]:
from sklearn.metrics import classification_report

# See classification Report
print(classification_report(y_true,y_pred))

              precision    recall  f1-score   support

         cat       0.60      1.00      0.75         3
         dog       1.00      0.33      0.50         3
       mouse       0.67      0.67      0.67         3

    accuracy                           0.67         9
   macro avg       0.76      0.67      0.64         9
weighted avg       0.76      0.67      0.64         9