# ZeroR Classifier

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Create train dataset

data = {
    'Outlook': ["Rainy", "Rainy", "Overcast", "Sunny", "Sunny", "Sunny",
               "Overcast", "Rainy", "Rainy", "Sunny", "Rainy", "Overcast",
               "Overcast", "Sunny"],
    
    'Temp': ["Hot", "Hot", "Hot", "Mild", "Cool", "Cool", "Cool", "Mild",
            "Cool", "Mild", "Mild", "Mild", "Hot", "Mild"],
    
    'Humidity': ["High", "High", "High", "High", "Normal", "Normal", "Normal",
                "High", "Normal", "Normal", "Normal", "High", "Normal", "High"],
    
    'Windy': ["False", "True", "False", "False", "False", "True", "True",
             "False", "False", "False", "True", "True", "False", "True"],
    
    'Play Golf': ["No", "No", "Yes", "Yes", "Yes", "No", "Yes", "No", "Yes",
                 "Yes", "Yes", "Yes", "Yes", "No"]
}


df = pd.DataFrame(data)
df

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Rainy   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Sunny  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No

In [3]:
df['Play Golf'].value_counts()

Yes    9
No     5
Name: Play Golf, dtype: int64

In [4]:
# Create test dataset

test_data = {
    'Outlook': ["Rainy", "Overcast", "Rainy"],
    'Temp': ["Hot", "Hot", "Hot"],
    'Humidity': ["Normal", "Normal", "Normal"],
    'Windy': ["True", "True", "False"],

    'Play Golf': ["No", "No", "Yes"]
}
test = pd.DataFrame(test_data)
test

    Outlook Temp Humidity  Windy Play Golf
0     Rainy  Hot   Normal   True        No
1  Overcast  Hot   Normal   True        No
2     Rainy  Hot   Normal  False       Yes

In [5]:
test['Play Golf'].value_counts()

No     2
Yes    1
Name: Play Golf, dtype: int64

# Split the Dataset

In [6]:
x_train = df.drop(columns='Play Golf')
y_train = df['Play Golf']

x_test = test.drop(columns='Play Golf')
y_test = test['Play Golf']

# ZeroR Classifier using Sklearn

In [7]:
# Step-1 : Import the model from sklearn
from sklearn.dummy import DummyClassifier

# Step-2 : Create an instance or object of the model
model = DummyClassifier(strategy='most_frequent')

In [11]:
# Step-3: Fit the model with train set
model.fit(x_train,y_train)

DummyClassifier(strategy='most_frequent')

In [10]:
# Step-4 : Test the model
y_pred = model.predict(x_test)

In [12]:
# Step-5 : Evaluate the model
from sklearn.metrics import accuracy_score

print("Test Accuracy: ",accuracy_score(y_test,y_pred))
print("Train Accuracy: ",accuracy_score(y_train, model.predict(x_train)))

Test Accuracy:  0.3333333333333333
Train Accuracy:  0.6428571428571429

# END